In [1]:
import warnings
warnings.simplefilter("ignore")

In [35]:
import pandas as pd

houseData = pd.read_csv("data/Lasso/house_data.csv", sep=",")
houseData.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [24]:
print(houseData.shape)

(21613, 21)

In [36]:
houseData = houseData.drop(columns=['id','lat','long','date'])
print(houseData.shape)
houseData.head()

(21613, 17)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
0,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,1340,5650
1,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,1690,7639
2,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,2720,8062
3,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,1360,5000
4,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,1800,7503

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

columns_to_plot = ['sqft_lot','sqft_above','price','sqft_living','bedrooms']

sns.set_theme(style="ticks", font_scale=1)
g = sns.pairplot(houseData[columns_to_plot], 
                 hue='bedrooms', 
                 palette='viridis', 
                 height=3,
                 plot_kws={'alpha': 0.6})


plt.suptitle("Pairplot of Housing Data with Bedrooms Highlighted", y=1.02)
plt.tight_layout()
plt.show()

ValueError: Data must be 1-dimensional, got ndarray of shape (21613, 2) instead